.audio_VolumePopin_2iUUM.audio_VolumePopinHidden_1OwmL {
  transform: none;
  opacity: 0;
}

.audio_VolumePopin_2iUUM,
.audio_VolumePopin_2iUUM.audio_VolumePopinHidden_1OwmL {
  top: 25px;
  transform: none;
}
